{{#if checkTrustLevels}}
    {{#if site.mobileView}}
        <div class="adtech-label"><h2>ADVERTISEMENT</h2></div>
        <div class="adtech-content">
            mobile banner goes here
        </div>
    {{else}}
        <div class="adtech-label"><h2>ADVERTISEMENT</h2></div>
        <div class="adtech-content">

            <script>
                document.write("Script code")
            </script>
            <noscript>
                No script
            </noscript>

        </div>
    {{/if}}
{{/if}}
