{{#if checkTrustLevels}}
    {{#if site.mobileView}}
        <div class="adtech-label"><h2>ADVERTISEMENT</h2></div>
        <div class="adtech-content">
            mobile banner goes here
        </div>
    {{else}}
        <div class="adtech-label"><h2>ADVERTISEMENT</h2></div>
        <div class="adtech-content">

            <!--JavaScript Tag with group ID // Tag for network 1370: Adweb Greece // Website: Rocking.gr // Page: In Read // Placement: Rocking In-read banner (6232313) // created at: Jun 8, 2016 10:34:25 AM-->
            <script language="javascript">
                <!--
                if (window.adgroupid == undefined) {
                    window.adgroupid = Math.round(Math.random() * 1000);
                }
                document.write('<scr'+'ipt language="javascript1.1" src="http://adserver.adtech.de/addyn/3.0/1370/6232308/0/170/ADTECH;loc=100;target=_blank;grp='+window.adgroupid+';misc='+new Date().getTime()+'"></scri'+'pt>');
                //-->
            </script><noscript><a href="http://adserver.adtech.de/adlink/3.0/1370/6232308/0/170/ADTECH;loc=300" target="_blank"><img src="http://adserver.adtech.de/adserv/3.0/1370/6232308/0/170/ADTECH;loc=300" border="0" width="300" height="250"></a></noscript>
            <!-- End of JavaScript Tag -->

        </div>
    {{/if}}
{{/if}}
