{{#if checkTrustLevels}}
    {{#if site.mobileView}}
        <div class="adtech-label"><h2>ADVERTISEMENT</h2></div>
        <div class="adtech-content">
            mobile banner goes here
        </div>
    {{else}}
        <div class="adtech-label"><h2>ADVERTISEMENT</h2></div>
        <div class="adtech-content">

            <div id="{{ad_code}}" class="banner300"></div>

        </div>
    {{/if}}
{{/if}}
