{{#if checkTrustLevels}}
    <div class="smartad-content">

            <script type="application/javascript" src="https://ced.sascdn.com/tag/3433/smart.js" async></script>
            <div id="sas_{{ad_code}}" class="banner300" style="text-align:center; margin:20px 0; clear:both;"></div>
            <script type="application/javascript">
                var sas = sas || {};
                sas.cmd = sas.cmd || [];
                sas.cmd.push(
                    function () {
                        sas.call(
                            { siteId: 304768, pageId: 1109120, formatId: {{ad_code}}, tagId: "sas_"{{ad_code}} },
                            { networkId: 3433, domain: "https://www8.smartadserver.com" /*, onNoad: function() {} */ }
                        );
                    }
                );
            </script>


    </div>
{{/if}}
